<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004945215367-r5fobjea4qcc36njbegt0ord3l9i09g5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004945215367-r5fobjea4qcc36njbegt0ord3l9i09g5</string>
	<key>API_KEY</key>
	<string>AIzaSyANJ7c7TVlw2Zr_cxYwUD8ApNlvqqG_S6g</string>
	<key>GCM_SENDER_ID</key>
	<string>1004945215367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.katharos.Messenger</string>
	<key>PROJECT_ID</key>
	<string>imess-fa1eb</string>
	<key>STORAGE_BUCKET</key>
	<string>imess-fa1eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004945215367:ios:f7b78c9a0bf7af73270d22</string>
</dict>
</plist>